---

---
<section class="section">
  <div class="inner">
    <h2 class="section-title">基本情報</h2>
    <dl class="info-list">
      <div class="info-row">
        <dt class="info-term">店舗名</dt>
        <dd class="info-desc">有限会社フレックス湘南</dd>
      </div>
      <div class="info-row">
        <dt class="info-term">電話番号</dt>
        <dd class="info-desc">
          <a class="info-tel" href="tel:09044517608">090-4451-7608</a>
        </dd>
      </div>
      <div class="info-row">
        <dt class="info-term">住所</dt>
        <dd class="info-desc address">
          〒251-0035 神奈川県藤沢市片瀬海岸3丁目14-5
          <a
            class="info-map-link"
            href="https://www.google.com/maps/place/%E3%83%95%E3%83%AC%E3%83%83%E3%82%AF%E3%82%B9%E6%B9%98%E5%8D%97/@35.312121,139.4807869,18.53z/data=!4m15!1m8!3m7!1s0x60184ef8dd777c33:0xb2712d1fc5062d85!2z44CSMjUxLTAwMzUg56We5aWI5bed55yM6Jek5rKi5biC54mH54Cs5rW35bK477yT5LiB55uu77yR77yU4oiS77yVIOOCs-OCueODouOCouOCquOCpOeJh-eArOa1t-WyuA!3b1!8m2!3d35.3122221!4d139.4809716!16s%2Fg%2F11clpyrz4w!3m5!1s0x60184ef8e7fe30cd:0x7d38532096915d1a!8m2!3d35.3123096!4d139.480892!16s%2Fg%2F1tp0dmwc?entry=ttu&g_ep=EgoyMDI2MDUyNS4wIKXMDSoASAFQAw%3D%3D"
            target="_blank"
            rel="noopener noreferrer"
          >
            Google マップで見る
          </a>
        </dd>
      </div>
      <div class="info-row">
        <dt class="info-term">駐車場</dt>
        <dd class="info-desc">有料駐車場あり</dd>
      </div>
      <div class="info-row">
        <dt class="info-term">最寄り駅</dt>
        <dd class="info-desc">
          江ノ電 江ノ島駅から徒歩10分
        </dd>
        <dd class="info-desc">
          湘南モノレール 湘南江ノ島駅から徒歩10分
        </dd>
        <dd class="info-desc">
          小田急江ノ島線 片瀬江ノ島駅から徒歩5分
        </dd>
      </div>
      <div class="info-row">
        <dt class="info-term">営業時間</dt>
        <dd class="info-desc">
          <span class="info-hours-row">
            <span class="info-hours-label">平日・土日祝</span>
            9:30〜16:30   相談で時間外対応可能
            </span>
        </dd>
      </div>
      <div class="info-row">
        <dt class="info-term">定休日</dt>
        <dd class="info-desc">不定休
          <span class="info-note">水曜日</span>
        </dd>
      </div>
    </dl>
    <div class="map-wrap">
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1627.8764471872673!2d139.4807869!3d35.312121!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60184ef8e7fe30cd%3A0x7d38532096915d1a!2z44OV44Os44OD44Kv44K55rmY5Y2X!5e0!3m2!1sja!2sjp!4v1779940915204!5m2!1sja!2sjp" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="image-wrapper">

    </div>
  </div>
</section>

<style lang="scss">
  @use "../../styles/variables" as *;
  @use "../../styles/mixins" as *;

  .section-title {
    text-align: center;
    font-size: clamp(1.2rem, 5vw, 2rem);
  }

  .info-list {
    padding: 20px 40px;
  }

  .map-wrap {
    max-width: 1040px;
    height: auto;
    border-radius: 30px;
  }

  .map {
    width: 100%;
    height: 300px;
    border-radius: 20px;
  }

  
</style>