---
---
<section class="section">
  <div class="inner">
    <h2 class="section-title">人気メニュー</h2>
    <div class="content">
      <div class="main-content">
        <ul class="card-list">
          <li class="card"></li>
          <li class="card"></li>
          <li class="card"></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @use "../../styles/variables" as *;
  @use "../../styles/mixins" as *;

  .section-title {
    text-align: center;
    font-size: clamp(1.2rem, 5vw, 2rem);
  }
</style>